<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CameraDevice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CameraDevice.Properties.Settings>
            <setting name="Folder" serializeAs="String">
                <value>\\Cameradevice\camerasystem</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>test11</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>SERVER = cameradevice; DATABASE = camerasystem; UID = loguser; PASSWORD = Test0880!</value>
            </setting>
        </CameraDevice.Properties.Settings>
    </userSettings>
</configuration>