body {
    background-color:#879fbb;
    
}

table.datarows {
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  width: 15%;
  height: 2%;
}

table.buttonvalue {
  width: 5%;
  height: 2%;
  border-collapse: collapse;
}

table.datarows2 {
 text-align: center;
  background-color: #becdd6;
  padding: 0px;
}

.maintext {
  color: rgb(10, 33, 136);
  font-size: 52px;
  text-align: center;
}

.maintext2 {
  color: rgb(0, 0, 0);
  font-size: 36px;
  text-align: center;
}

.subtext1 {
  color: black;
  font-size: 22px;
  text-align: center;
}

.subtext2 {
  color: rgb(17, 156, 126);
  font-size: 22px;
  text-align: center;
}

.subtext3 {
  color:rgb(0, 0, 0);
  font-size: 22px;
  text-align: center;
}

.subtext4 {
  color: rgb(131, 9, 9);
  font-size: 22px;
  text-align: left;
}

.tdname {
  color: rgb(20, 22, 138);
  font-size: 26px;
  text-align: center;
  padding-right: 25px;
}

.tdname2 {
  color: rgb(20, 22, 138);
  font-size: 26px;
  text-align: right;
  padding-right: 5px;
}



hr.index {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 20%;
  margin-right: 0%;
  border-style: inset;
  border-width: 4px;
  width: 75%;
}

.formfiles {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 20%;
  margin-right: 20%;
  width: 10%;
   padding-right: 5px;
   align-content: center;
}

.formfiles2 {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 45%;
  margin-right: 30%;
  width: 10%;
   padding-right: 5px;
   align-content: center;
}

.buttondownload {
   vertical-align: top;
}
